@import "../../styles/variables.module.scss";
@import "../../styles/_mixins.scss";

.card {
  display: flex;
  flex-direction: row;
  padding: 5px;
  width: 100;
  border: 1px solid $primaryColor;
  border-radius: 10px;
  margin: 10px 0;
  .cardRight {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .description {
      font-size: smaller;
      color: $grey;
    }
  }
}
