@import "../../styles/variables.module.scss";
@import "../../styles/_mixins.scss";
.container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  @include lg {
    width: 50%;
    margin: 0 auto;
  }
  .header {
    width: 100%;
    // position: sticky;
    // top: 20;
    justify-content: center;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .searchInput {
      color: $white;
      width: 100%;
      height: 35px;
      @include lg {
        width: 300px;
      }
    }
    .searchButton {
      width: 100%;
      margin-left: 10px;
      cursor: pointer;
      // border: 1px solid $primaryColor;
      width: fit-content;
    }
  }
  .listContainer {
    padding: 10px 0px;
    display: grid;
    width: 100%;
    justify-content: space-around;
    gap: 10px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
    }
    @include lg {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      overflow-x: auto;
      flex-direction: row;
      justify-content: center;
      align-items: normal;
      align-content: flex-start;
    }

    .noResult {
      color: $white;
      font-size: 20px;
      margin: 0 auto;
    }
  }
}
