@import "../../styles/variables.module.scss";
@import "../../styles/_mixins.scss";
.container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  @include lg {
    width: 50%;
    margin: 0 auto;
  }
  .header {
    width: 100%;
    padding: 5px 0px;
    display: flex;

    flex-direction: row;
    // justify-content: stretch;
    .tabButton {
      flex-grow: 1;
      color: $white;
      cursor: pointer;
      text-align: center;
    }
    .tabButtonActive {
      background-color: $lightGrey;
      border-bottom: 1px solid $white;
    }
  }
  .listContainer {
    padding: 10px 0px;
    display: grid;
    width: 100%;
    gap: 10px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
    }
    @include lg {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      overflow-x: auto;
      flex-direction: row;
      justify-content: center;
      align-items: normal;
      align-content: flex-start;
    }

    .notificationCard {
      width: 100%;
      background-color: $lightGrey;
      padding: 8px 10px;
      // border-radius: 10px;
      @include lg {
        width: 300px;
      }
      display: flex;
      flex-direction: column;
      .notificationCardHeader {
        font-size: 13px;
      }
      .notificationCardBody {
        font-size: 11px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .notificationCardBodyRight {
          color: $primaryColor;
        }
      }
    }

    .noResult {
      color: $white;
      font-size: 20px;
      margin: 0 auto;
    }
  }
}
