@import "../../../../styles/variables.module.scss";
@import "../../../../styles/_mixins.scss";
.container {
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
  @include lg {
    width: 50%;
    margin: 0 auto;
  }
  .info {
    display: flex;
    flex-direction: column;
    .resourceWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
      border-radius: 10px;
      color: $white;
      border: 1px solid $primaryColor;
      padding: 10px;
      .progressbar {
        width: 100%;
        height: 2px;
        background-color: $white;
        border-radius: 5px;
        margin: 5px 0;
      }

      .progress {
        height: 100%;
        background-color: $primaryColor;
        border-radius: 5px;
        transition: width 0.3s ease-in-out;
      }
      .title {
        font-size: 1.5rem;
        color: $primaryColor;
      }
      .resourceHeader {
        display: flex;
        height: fit-content;
        width: 100%;
        font-size: 15px;
      }
      .resourceBody {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 100%;

        .paragraph {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: baseline;
          text-align: left;
          font-size: 15px;
          margin-bottom: 5px;
          > span {
            margin-right: 5px;
          }
          .content {
            color: $grey;
            > strong {
              color: $white;
            }
          }
        }

        .paragraph2 {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: baseline;
          text-align: left;
          margin-bottom: 3px;
          > span {
            margin-right: 5px;
          }
          .content {
            color: $grey;
            font-size: 15px;
            > strong {
              color: $white;
            }
          }
        }
      }
    }
  }
}
